.App-header {
  background-color: #EBEFF7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.InfoPanel {
  margin: 10px;
  width: 97%;
}

@media (min-width: 768px) {
  .InfoPanel {
    margin: 0 10px;
  }
}

.InfoCard {
  background-color: white;
  padding: 12px;
  margin-bottom: 12px;
}

h1, h2 {
  margin-top: 0;
}

.TeamHeader {
  width: 100%;
}

.Social {
  display: block;
}

@media (min-width: 768px) {
  .Social {
    display: flex;
    justify-content: space-between;
  }
}

.Social a {
  color: green;
  text-decoration: none;
  display: block;
}

.Bold {
  font-weight: 700;
}

.ExpandingCardHeader {
  cursor: pointer;
  padding: 12px;
}

.ExpandingCardHeader:hover {
  background-color: green;
}

.ExpandingContent {
  padding: 6px;
}